<div class="form-row">
  <div class="form-item">
    <label>Title</label>
    <input type="text" name="title" value="<%= book.title %>">
  </div>
  <div class="form-item">
    <label>Author</label>
    <select name="author">
      <% authors.forEach(author => { %>
        <% if (author.id === book.author) { %>
          <option selected label="<%= author.name %>" value="<%= author.id %>">
        <% } else { %>
          <option label="<%= author.name %>" value="<%= author.id %>">
        <% } %>
      <% }) %>
    </select>
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label>Publish Date</label>
    <input type="date" name="publishDate"
          value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>">
  </div>
  <div class="form-item">
    <label>Page Count</label>
    <input type="number" name="pageCount" min="1" value="<%= book.pageCount ? book.pageCount : 1 %>">
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label>Location</label>
    <select name="location">
      <% locations.forEach(location => { %>
        <% if (location.id === book.location) { %>
          <option selected label="<%= location.name %>" value="<%= location.id %>">
        <% } else { %>
          <option label="<%= location.name %>" value="<%= location.id %>">
        <% } %>
      <% }) %>
    </select>
  </div>
  <div class="form-item">
    <label>Inventory</label>
    <input type="number" name="inventory" min="1" value="<%= book.inventory ? book.inventory : 1 %>">
  </div>
</div>

<div class="form-row">
  <div class="form-item form-item-no-grow">
    <label>Cover</label>
    <input type="file" name="cover" class="book-cover filepond">
  </div>
  <div class="form-item">
    <label>Description</label>
    <textarea name="description"><%= book.description %></textarea>
  </div>
</div>