<div style="display: flex; justify-content: center;">
  <h2 class="page-header"><%= book.title %></h2>
</div>
<div class="book-details">
  <div class="book-details-container">
    <img class="book-cover" src="<%= book.coverImagePath %>">
    <div class="book-details-btn-grid">
      <% if (currentUser && currentUser.role === 1) { %>
        <a class="btn btn-primary" href="/books/<%= book.id %>/edit">Edit</a>
        <%- include('../partials/deleteForm', { url: `/books/${book.id}` }) %>
      <% } %>
      <a class="btn btn-primary book-details-author-button" href="/authors/<%= book.author.id %>">View Author</a>
    </div>
    <form method="POST" action="/users/addToWishlist/<%= book.id %>?_method=PUT">
      <button style="width: 100%; margin-top: 10px;" class="btn btn-secondary" type="submit">+ Wishlist</button>
    </form>
  </div>
  <div class="book-details-grid">
    <div class="book-details-label">Tác giả:</div>
    <div class="description"><%= book.author.name %></div>
    <div class="book-details-label">Tồn kho:</div>
    <div class="description"><%= book.inventory %></div>
    <div class="book-details-label">Ngày xuất bản:</div>
    <div class="description"><%= book.publishDate.toDateString() %></div>
    <div class="book-details-label">Địa điểm bán:</div>
    <div class="description"><%= book.location.name %></div>
    <div class="book-details-label">Số trang:</div>
    <div class="description"><%= book.pageCount %></div>
    <% if (book.description) { %>
      <div class="book-details-label">Giới thiệu sản phẩm:</div>
      <div class="description"><%= book.description %></div>
    <% } %>
  </div>
</div>